/* -----------------------------------------------------------------------------
card module
----------------------------------------------------------------------------- */

[i-card] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: calc(3 / var(--remContext) * 1rem);
    padding: var(--leading);
    max-width: calc(600 / var(--remContext) * 1rem);
    background-color: var(--c-white);
}
